@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.ttf");
  src: url("../fonts/RobotoSlab-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
*   Template Style
* Edit this section
*
* ======================================================= */
body {
  font-family:'Roboto-Regular', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #7f7f7f;
  background: #efefef;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
  color: #52d3aa;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #52d3aa;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family:'RobotoSlab-Bold', sans-serif;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

/*Default Button styling*/
.btn {
  position: relative;
  background: #ff9000;
  color: #FFFFFF;
  border: 0;
  font-size: 13px;
   font-weight: 900;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: 3em;
  padding: 0 15px;
  outline: none !important;
  font-family:'Roboto-Regular', sans-serif;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.btn:after {
  left: 0;
  content: "";
  bottom: -2px;
  display: block;
  position: absolute;
  background: #c77710;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}


.btn-sliding{
  box-shadow: inset 0 0 0 0 #ff9000;
}
.btn-sliding:hover {
  box-shadow: inset 200px 0 0 0 #ff9000;
  color: #FFFFFF;
}
.padding-section{
  padding-bottom: 70px;
}
.divider-x{
  height: 10px;
  background-color: #dbdde4;
}
.divider-x-small{
  height: 1px;
  background-color: #dbdde4;

}

.section-heading h1 {
  font-size: 35px;
  color: #1b1812;
}

.img-center{
  display: block;
  margin: auto;
}


/******************/
/* Header Section */
/*****************/

#rlest-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 40px;
/*  -webkit-box-shadow: 0 0 1px 0 rgba(18, 96, 182 ,0.6);
  -moz-box-shadow: 0 0 1px 0 rgba(18, 96, 182,0.6);
  box-shadow: 0 0 1px 0 rgba(18, 96, 182,0.6);*/

}

/*
.navbar-hr{
  margin-top: 140px;
  background: rgba(255,255,255,0.1);
  height: 1px;
  border:0;

}
*/



@media screen and (max-width: 992px) {

  #rlest-header {
    margin-top: 0;
    background:  #2b3c6b;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }

  #rlest-header .navbar-brand {
    color: #52d3aa !important;
  }


  #rlest-header #navbar li a {
    color: #f0f1f6;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  #rlest-header #navbar li a:hover {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  #rlest-header #navbar li a span:before {
    background: transparent !important;
  }
  #rlest-header #navbar li a span{
    margin-left: -15px;
  }

  #rlest-header #navbar li.active a {
    background: transparent;
    background: none;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  #rlest-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  #rlest-header .navbar-brand img{
    margin-top: 30px;
    width: 70px;
    height: 40px;
  }

}

#rlest-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#rlest-header #navbar li a {
  font-family: "Roboto-Bold",sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  position: relative;
  margin-right: 30px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background-color: transparent;
  color:  rgba(255, 255, 255, 0.5);
}

/*.navbar-default .navbar-nav .dropdown-menu{
  background-color: transparent;
}
 .dropdown-menu li > a :focus,  .dropdown-menu  li >a:hover{
  background-color: transparent;
  color:  rgba(255, 255, 255, 0.5);
}*/


.navbar-default .navbar-nav > li > .dropdown-menu{
   border-radius: 0;
    border:0;
    border-bottom-left-radius: 11px;
}



.navbar-default .navbar-nav > li > .dropdown-menu > li >a {
    font-family: "Roboto-Regular",sans-serif;
    color: #000;
    font-size: 14px;
    padding: 7px 22px;
}





  /*Search Button Icon*/
.searchlink {
    display: block;
    position: relative;
    right: 0;
    font-size: 18px;
    cursor: pointer;
    padding-left: 15px;

}


.searchform {
    display: none;
    position: absolute;
    width: 300px;
    height: 20px;
    line-height: 20px;
    top: 50px;
    right: 0;
    padding: 0 15px;
    cursor: default;
    background: transparent;
}

#search {
    display: block;
    position: relative;
}

#search-field {
    width: 270px;
    background: transparent;
    padding: 8px 11px;
    border: 0;
    color: #eee;
    border: 1px solid white;
}

.searchbtn {
    display: block;
    position: absolute;
    right: 5px;
    top: 6px;
    background: none;
    border: none;
    color: #bcbcbc;
    font-size: 0.6em;
    cursor: pointer;
}

/*End Search button icon*/




@media screen and (max-width: 1200px) {

  #rlest-header #navbar li a {
    margin-right: 5px;
  }
}

#rlest-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#rlest-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#rlest-header .glyphicon-search{
  color: #f0f1f6;
  margin-top: 15px;
}

#rlest-header #navbar li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

#rlest-header #navbar li.dropdown ul{
  background-color: #fff;
}

#rlest-header #navbar li.dropdown li > a{
  background-color: transparent;
  color:  #000;
}

#rlest-header #navbar li.dropdown li > a:hover{
  background-color: transparent;
  color:  rgba(0, 0, 0, 0.5);
}

#rlest-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#rlest-header #navbar li.active a {
  background: transparent;
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
#rlest-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#rlest-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  margin-right: 80px;
  margin-top: -40px;
}

#navbar{
  padding-left: 150px;
}

@media screen and (max-width:992px){
  #navbar{
    padding-left: 0;
  }
}


/*Fixed Nav bar*/
#rlest-header.navbar-fixed-top {
  position: fixed !important;
  background:  #2b3c6b;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0;
  top: 0;
}
#rlest-header.navbar-fixed-top .navbar-brand {
  color: #52d3aa;
}


#rlest-header.navbar-fixed-top .navbar-brand img{
  margin-top: 30px;
  width: 70px;
  height: 40px;
}


#rlest-header.navbar-fixed-top #navbar li a {
  color:#f0f1f6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


#rlest-header.navbar-fixed-top #navbar li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
#rlest-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
#rlest-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: rgba(255, 255, 255, 0.5);
}
#rlest-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}



#rlest-header.navbar-fixed-top #navbar{
  padding-left: 215px;
}

@media screen and (max-width: 1200px) {

  #rlest-header.navbar-fixed-top #navbar{
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  #rlest-header .navbar-default {
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

#rlest-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* Override Bootstrap Breakpoint Navbar collapse in 992px */
@media (max-width: 992px) {

  .navbar-header {
    float: none;
  }

    #rlest-header.navbar-fixed-top #navbar{
        padding-left: 0px;
    }

  .navbar-collapse {
   border-top: 0 solid transparent;
    box-shadow: inset 0 0 0 0 rgba(255,255,255,0.1);
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7px;
  }
  .navbar-nav>li {
    float: none;
  }

  .navbar-nav > li > a{
    padding-top:15px;
    padding-bottom:0;
  }

  .navbar{
    margin-top:30px;
  }

  .collapse.in{
    display:block !important;
  }

}
/*end*/


/*Header nav toggle*/

.rlest-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.rlest-nav-toggle.active i::before, .rlest-nav-toggle.active i::after {
  background: #52d3aa;
}
.rlest-nav-toggle:hover, .rlest-nav-toggle:focus, .rlest-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.rlest-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #52d3aa;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #52d3aa;
  transition: all .2s ease-out;
}
.rlest-nav-toggle i::before, .rlest-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #52d3aa;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.rlest-nav-toggle i::before {
  top: -7px;
}

.rlest-nav-toggle i::after {
  bottom: -7px;
}

.rlest-nav-toggle:hover i::before {
  top: -10px;
}

.rlest-nav-toggle:hover i::after {
  bottom: -10px;
}

.rlest-nav-toggle.active i {
  background: transparent;
}

.rlest-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.rlest-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.rlest-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 21;
  padding: 6px 0 0 0;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 992px) {
  .rlest-nav-toggle {
    display: block;
  }

}

/******************/
/* Home Section  */
/****************/

#rlest-home {
  background-size:cover;
  background: transparent url(../images/04/home-background.jpg) no-repeat center;
  color: #fff;
  overflow: hidden;
}

#rlest-home .contaiener{
  z-index: 1;
}

#rlest-home #owl-demo-details .owl-demo-details-col{
  padding-left: 0;
}

#rlest-home, #rlest-home .text-wrap {
  height: 800px;
}
#rlest-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;

}
#rlest-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
#rlest-home .text-inner a {
  color: #f0f1f6;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#rlest-home .text-inner a:hover, #rlest-home .text-inner a:active, #rlest-home .text-inner a:focus {
  text-decoration: none;
  color: #f0f1f6;
  border-bottom: 1px dashed #f0f1f6;
}
#rlest-home .text-inner h1 {
  font-family: 'RobotoSlab-Bold',sans-serif;
  font-size: 40px;
  color: #fff;
  margin: 10px 0 20px 0;
}
#rlest-home .text-inner h4 {
   font-family: 'RobotoSlab-Bold',sans-serif;
  font-size: 19px;
  color: #6bd3a3;
  margin: 0;
}

#rlest-home .text-inner p {
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 16px;
  color: #fff;
}

#rlest-home .text-inner .desc-icon {
  padding-bottom: 15px;
}

.desc-icon{
  margin-right: -30px;
}

#rlest-home .text-inner .desc-icon img {
  float:left;
  padding-right: 5px;
}

#rlest-home .text-inner .desc-icon h5 {
 font-family: 'RobotoSlab-Regular',sans-serif;
 margin-top: 15px;
 margin-left: 3px;
 font-size: 16px;
 color:#f0f1f6;
}

#rlest-home .text-inner p{
  font-size: 16px;
}

@media screen and (max-width: 768px) {
#rlest-home #owl-demo-details .owl-demo-details-col{
  padding-left: 15px;
}

    #rlest-home .text-inner .desc-icon h5 {
         padding-top: 15px;
       }
}

/***************/
/* Intro Section */
/***************/
#rlest-intro {
  position: relative;
  bottom: 0;
  margin-top: -105px;
  z-index: 10;
  padding-bottom: 75px;
  text-align: center;

}
@media screen and (max-width: 768px) {
   #rlest-intro {
    position: relative;
    bottom: 0;
    margin-top: 5px;
    padding-bottom: 7em;
  }
}

/*owl slider*/



#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 0 15px 0;

}

.wrapper-with-out-margin{

  background-color: #fff;
}
.wrapper-with-margin{
  margin:0 50px;

}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.hovereffect:hover img {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}

#owl-demo .synced .item img{
   filter: brightness(1);
  -webkit-filter: brightness(1);
}


/*Navigation  for  owl slider*/

 .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
   -webkit-border-radius:0;
   -moz-border-radius: 0;
   border-radius: 0;

}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -55px;
    top: 10px;
    padding: 5px 13px;
    width: 45px;
    background:#dce4e2;
    height: 81%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover{
  background: #6bd3a3;
}
.owl-theme .owl-controls .owl-buttons .owl-prev img {
    margin-top: 50px;
    padding-left: 5px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{

    right: -55px;
    top: 10px;
    padding: 5px 13px;
    width: 45px;
    background: #dce4e2;
    height: 81%;
}
.owl-theme .owl-controls .owl-buttons .owl-next:hover{
  background: #6bd3a3;
}

.owl-theme .owl-controls .owl-buttons .owl-next img {
    margin-top: 50px;
    padding-left: 0;

}


.owl-theme .owl-controls .owl-page span{
  background:rgba(193, 193, 193, 0.48); 
}


.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
  width: 13px;
  height: 13px;
}

@media (min-width: 768px) and (max-width: 991px){

.owl-theme .owl-controls .owl-buttons .owl-prev{

    height: 78%;
}

.owl-theme .owl-controls .owl-buttons .owl-next{

    height: 78%;
}


    .owl-theme .owl-controls .owl-buttons .owl-prev img {
      margin-top: 40px;

  }
    .owl-theme .owl-controls .owl-buttons .owl-next img {
      margin-top: 40px;
  

  }
}

/*Intro Heading*/
#rlest-intro .text-inner-intro{
/*  padding-top: 30px;*/
  padding-bottom: 45px;
}
#rlest-intro .text-inner-intro h1{
  padding-top: 45px;
  font-family: 'RobotoSlab-Bold',sans-serif;
  font-size: 25px;
  color: black;
  margin: 20px 0 20px 0;
}
#rlest-intro .text-inner-intro h4 {
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 16px;
  color: #5f6264;
  margin: 0;
}


 /*Swiper Slider*/

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  padding: 15px;
  background: #fff;
  text-align: left;
/*  !* Center slide text vertically *!
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*/
}

#rlest-intro .swiper-container .swiper-slide .swiper-image{
  padding: 15px;
}


#rlest-intro .swiper-container .text-inner h1{
  text-align: left;
  font-family: 'RobotoSlab-Bold',sans-serif;
  font-size: 25px;
  color: black;
  margin: 15px 0 20px 0;
}

#rlest-intro .swiper-container .text-inner h4 {
  text-align: left;
  font-family: 'RobotoSlab-Bold',sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #6bd3a3;
  margin: 0;
  padding-top: 15px;
}

.swiper-container .text-wrap .text-inner p{
  text-align: left;
  color:#43413c;
}
.swiper-container .text-wrap .text-inner .desc-icon h5{
  text-align: left;
  color:#70706f;
}

#rlest-intro .owl-btn{
  margin-top: 15px;
}


#rlest-intro .text-inner .desc-icon {
  padding-bottom: 15px;
}

#rlest-intro .text-inner .desc-icon img {
  float:left;
  padding-right: 5px;
}

.desc-icon h5 {
  font-family: 'RobotoSlab-Regular',sans-serif;
  margin-top: 15px;
  margin-left: 3px;
  font-size: 16px;
  color:#a9aaab;
}
.btn-property-details{
  font-family: "Roboto-Bold",sans-serif;
  font-size: 14px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction{

  bottom:50px;
  left: 45%;
}

.swiper-pagination-bullet{
  width: 13px;
  height: 13px;
    background:rgb(97, 97, 97); 
}

.swiper-pagination-bullet-active{
  background:#6bd3a3 ;
  width: 14px;
  height: 14px;
}
@media screen and (max-width: 768px) {
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction{

    left: 35%;
  }
}

.ribbon {

  position: absolute;
  z-index: 3;
  left: -5px; top: -5px;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-family: "Roboto-Bold",sans-serif;
  font-size: 14px;
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #CF0C0C 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #CF0C0C;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #CF0C0C;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #CF0C0C;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #CF0C0C;
}


@media screen and (max-width: 768px) {
  #rlest-intro .text-inner h4{
    padding-top: 15px;
  }

  #rlest-intro .text-inner .desc-icon {
   padding-bottom: 15px;
  }
  #rlest-intro .text-inner .desc-icon h5 {
   padding-top: 15px;
  }
}
 .section-heading{
  margin-bottom:50px ;
}


/*****************************/
/*Feature Properties Section*/
/*****************************/
#rlest-feature-properties {
  overflow: hidden;
  position: relative;
  color: #a9aaab;
  background-color: #fff;
  padding-top: 50px;
  text-align: center;

}


#rlest-feature-properties a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
#rlest-feature-properties a:hover {
  color: #f0f1f6;
}

#rlest-feature-properties:before {
  top: 0;
  margin-top: -35px;
}
#rlest-feature-properties:after {
  bottom: 0;
  margin-bottom: -35px;
}


#rlest-feature-properties .section-heading h2:after {
  background: rgba(0, 0, 0, 0.5);
}
#rlest-feature-properties  span {
  color: rgba(0, 0, 0, 0.5);
}

#rlest-feature-properties .property-info{
  margin-bottom: 30px;
}

#rlest-feature-properties .rlest-properties-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
 /* -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;*/
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*#rlest-feature-properties .rlest-properties-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin: 0 auto;
}*/

#rlest-feature-properties .rlest-properties-item .feature-img-hover {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    text-align:center;
}

#rlest-feature-properties .rlest-properties-item .feature-img-hover img {
    display:block;
    margin: auto;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

#rlest-feature-properties .rlest-properties-item .feature-img-hover:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}





#rlest-feature-properties .rlest-properties-item .property-item-desc {
  padding: 10px 20px;
  background: #f0f0f0;
}
#rlest-feature-properties .rlest-properties-item .property-item-desc h2, #rlest-feature-properties .rlest-properties-item .property-item-desc span {
  text-decoration: none !important;
}

#rlest-feature-properties .property-item-icon{
  padding-left: -15px;
  padding-right: 0;
  text-align: center;
}
#rlest-feature-properties .property-item-icon img{
  float: left;
  width: 30px;
  height: 30px;
  padding-bottom: 5px;

}

#rlest-feature-properties .property-item-icon span {
  padding-left: 5px;
  float: left;
  font-size: 14px;
  color: #70706f;
  font-weight: 400;
}

#rlest-feature-properties .property-item-title{
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);

  padding: 15px;
}

#rlest-feature-properties .property-item-title h4 {
  font-family: "RobotoSlab-Regular",sans-serif;
 padding-bottom: 5px;
  margin: 0;
}

#rlest-feature-properties  .property-item-title span {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
}

/*#rlest-feature-properties .rlest-properties-item:hover, #rlest-feature-properties .rlest-properties-item:focus {
  -webkit-box-shadow: 7px 14px 14px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 14px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 14px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 14px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 14px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}
#rlest-feature-properties .rlest-properties-item:hover img, #rlest-feature-properties .rlest-properties-item:focus img {
  opacity: .7;
}
#rlest-feature-properties .rlest-properties-item:hover h2, #rlest-feature-properties .rlest-properties-item:hover span, #rlest-feature-properties .rlest-properties-item:focus h2, #rlest-feature-properties .rlest-properties-item:focus span {
  text-decoration: none !important;
}*/

@media screen and (min-width: 991px) and (max-width: 1200px) {
  #rlest-feature-properties .property-item-icon{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  #rlest-feature-properties .property-item-icon span {
    padding-left: 2px;
    float: left;
    font-size: 12px;
  }

}



@media screen and (max-width: 768px) {

    #rlest-feature-properties .rlest-properties-item .property-item-desc {
        margin: auto;
        max-width: 370px;

    }
    #rlest-feature-properties .property-item-icon img{
      margin-left: 5px;
    }
    #rlest-feature-properties .property-item-icon span {
      margin-left: 5px;

    }

}



/****************/
/*Agent Section*/
/****************/
#rlest-agents{
  padding-top: 45px;
  padding-bottom: 80px;
  background: #fff;
}
.rlest-person {
float: left;
width: 100%;
position: relative;
  background-color: #f0f1f6;

}
.rlest-person img{
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .rlest-person {
    margin-bottom: 3.5em;
  }
}

.rlest-person h3 {
  margin-bottom: 0;
}

.rlest-person .rlest-position {
  color: #b3b3b3;
  display: block;
  margin-bottom: 20px;
}

.rlest-person-info{
  background-color: #717782;
  height: 45px;
}
.rlest-person-info h4{
  font-family: "RobotoSlab-Regular",sans-serif;
  font-size: 18px;
  color: #f0f1f6;
  float: left;
  padding-left: 10px;
  padding-top: 2px;
}


.social {
  padding:0;
  margin: 0;
  display: inline-block;
  position: relative;
  float: right;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 28px;
  height: 45px;
  margin: 0 -1.5px;
  border-left: 1px solid rgba(255,255,255,0.1);
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #717782;
  color: #fff;
}
.social li a.social-icon {
  background: #717782;
  color: #fff;
}
/*.social li a:hover {
  background: #393e46 !important;
}*/
.social.social-box a {
  background: #717782;
  color: #fff;
}
.social.social-icon a {
  background: #717782;
  color: #fff;
}




ul.social li a.facebook:hover {
  background-color: #507CBE;
}

ul.social li a.twitter:hover {
  background-color: #63CDF1;
}

ul.social li a.google:hover {
  background-color: #F16261;
}

ul.social li a.pinterest:hover {
  background-color: #b70000;
}

ul.social li a.tumblr:hover {
  background-color: #0c598c;
}


.rlest-person-info2{
  background-color: #f0f0f0;
  height: 45px;
}
.rlest-person-info h5{
  font-size: 16px;
  color: #f0f1f6;
  float: left;
  margin-left: 5px;
}
.rlest-person-info2 h5{
  font-size: 15px;
  font-family: "Roboto-Regular",sans-serif;
  color: #8b8b8b;
  font-weight: 300;
}
.rlest-person-info2 .person-email-col{
  padding-left: 0;
}


.rlest-person-info2 .person-phone span{
  padding-right: 5px;
  padding-left: 5px;
}

.rlest-person-info2 .person-email span{
  padding-right: 5px;
  padding-left: 5px;
}


@media screen and (min-width: 991px) and (max-width: 1200px){

.rlest-person-info h4{
  font-size: 18px;
  padding-left: 5px;
  padding-top: 2px;
}




  .rlest-person-info2 h5{

    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media screen and  (min-width: 768px) and (max-width: 991px){

  .rlest-person-info2 h5{
    font-size: 14px;
  }
}
  @media screen and (max-width: 768px) {

  .rlest-person-info2{
    height: 60px;
  }

}


/*******************/
/*Feedback Section*/
/******************/

#rlest-feedback{
    padding-top: 50px;
  padding-bottom: 50px;
    background-color: #f0f1f6;
}

#rlest-feedback .feedback-img {
  padding-left: 0;
}

#rlest-feedback .feedback-img img {
  background-color: #fff;
  display: block;
  padding: 3px;
  margin: 0 auto;

}

#rlest-feedback .subtext p {
  font-family: "RobotoSlab-Regular",sans-serif;
  font-size: 17px;
  color: #5b5b5b;
}

#rlest-feedback .feedback-text {
  margin-left: -15px;
  padding-right: 0;
}

#rlest-feedback .feedback-text p {

  padding-top: 15px;
  font-size: 15px;
  color: #8b8b8b;
  margin-bottom: 5px;
}

#rlest-feedback .feedback-text .feedback-name {
  font-family: "RobotoSlab-Bold",sans-serif;
  font-size: 14px;
  color: #6bd3a3;
}


#rlest-feedback .feedback-text .company-name{
  font-family: "Roboto-Medium",sans-serif;
  font-size: 14px;
  color: #cad1d8;
}

#rlest-feedback .owl-theme .owl-controls {
  padding-top: 50px;
}

@media screen and (max-width: 992px) {

  #rlest-feedback .feedback-text {
    margin-left: 0;
  }

}

@media screen and (max-width: 768px) {

  #rlest-feedback .feedback-text {
    padding-top: 15px;
  }

  #rlest-feedback .feedback-text img {
    display: block;
    margin: 0 auto;
  }
  #rlest-feedback .feedback-img {
    padding: 15px;
    padding-right: 0;
  }

}

/******************/
/*Partners Section*/
/*******************/

#rlest-partners{
    padding-top: 70px;
  padding-bottom: 70px;
    background-color: #fff;
}


#rlest-partners .owl-theme .owl-controls{
    padding-top: 50px;
}

#rlest-partners .owl-item.active{
    background: green;
}


.partners-hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.partners-hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  filter:  grayscale(90%);
  -webkit-filter:  grayscale(90%);
}

.partners-hovereffect:hover img {
  filter:  grayscale(0%);
  -webkit-filter:  grayscale(0%);
}


@media screen and (max-width: 768px) {

    #rlest-partners .item img{
        display: block;
        margin: 0 auto;
    }

}

/******************/
/* Info Section  */
/*****************/
.divider-x-small{
  height: 1px;
  background-color: #dbdde4;

}

#rlest-info{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f0f1f6;
}
#rlest-info h3 small{
  font-family: 'RobotoSlab-Bold',sans-serif;
  color:#1b1812;
  font-size: 17px;
}
#rlest-info h3{
  padding-bottom: 15px;
}
#rlest-info p{
  font-size: 14px;
  color: #41474a;
  margin-bottom: 1em;
}
#rlest-info span{
  color: #41474a;
}
#rlest-info .rlest-text{
  font-size: 14px;
  padding-top: 10px;
  color: #41474a;
}

#rlest-info .company-phone .fa{
  padding-top: 15px;
  color: #a8adb1;
}

#rlest-info .company-email .fa{
  padding-top: 15px;
  color: #a8adb1;
}


#rlest-info .company-location .fa{
  padding-top: 15px;
  color: #a8adb1;
}


#rlest-info a {
  color:#5eb0ff;
}
#rlest-info .fa-twitter{
  color:#5eb0ff;


}
#rlest-info .tweets{
  padding-left: 0;
}

#rlest-info  span.tweet-time {
  color: #a8adb1;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  #rlest-info .tweets{
    padding-left: 15px;
  }

  #rlest-info .rlest-text{
    padding-top: 0;
  }
}
#rlest-info .tags{
  color:#41474a;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 5px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#rlest-info .tags:hover{
  background-color: #6dd7a6;

  border-radius: 3px;
  text-decoration: none;
}
#rlest-info #newsletterMail{
  float: left;
}


#rlest-info  .input-group {
  top:15px;
}
#rlest-info  input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.57142857;
  color: #555;
  background-color:white ;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: 0;

}

#rlest-info .email-submit-btn {
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 0;
  background-color: #1260b6;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57142857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-clip: padding-box;
  border-radius: 0;

  background: -moz-linear-gradient(70deg, #fff 12px, #1260b6 13px);
  background: -o-linear-gradient(70deg, #fff 12px, #1260b6 13px);
  background: -webkit-linear-gradient(70deg, #fff 12px, #1260b6 13px);
  background: linear-gradient(70deg, #fff 12px, #1260b6 13px);
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;

}

#rlest-info .email-submit-btn:after {
  left: 0;
  content: "";
  bottom: 0px;
  display: block;
  position: absolute;
  background: transparent;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

#rlest-info .email-submit-btn i {
  padding-left: 7px;
  padding-right: 7px;
  color: #fff;
  font-size: 15px;
}

#rlest-info .info-br{
  margin-bottom: 15px;
}





/*#rlest-info  .email-submit-btn:hover i{
    color:#091522;
}*/

#rlest-info .privacy-note{
  margin-top: 15px;
  color: #a8adb1;
  font-size: 12px;
  line-height: 16px;
}


@media screen and (max-width: 768px) {

  #rlest-info .info{
    padding-bottom: 30px;
  }

}

/***************/
/* Footer */
/**************/

#footer {
  height: 356px;
  background:url(../images/04/footer.png) no-repeat center;
  background-color:#f0f1f6;
  padding-bottom: -30px;
}
#footer .text-center{
  padding-top: 30px;

}

#footer .text-center a{
  font-size: 13px;
  color: #41474a;
  padding-right: 15px;
  padding-left: 15px;
}
#footer .text-center a:hover{
  text-decoration: none;
  color: black;
}
